{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">

            {% if entity.type.name == constant('OroAcademy\\Bundle\\IssueBundle\\Entity\\IssueType::TYPE_SUBTASK') %}
                {% if entity.parent %}
                    <div class="control-group">
                        <label class="control-label">{{ 'oroacademy.issue.parent.label'|trans }}</label>
                        <div class="controls">
                            <div class="control-label">
                                <a href="{{ path('oroacademy_view_issue', {'id': entity.parent.id }) }}">
                                    {{ entity.parent }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if entity.type.name == constant('OroAcademy\\Bundle\\IssueBundle\\Entity\\IssueType::TYPE_STORY') %}
                <div class="control-group">
                    <label class="control-label">{{ 'oroacademy.issue.children.label'|trans }}</label>
                    <div class="controls">
                        <div class="control-label">
                            {% for task in entity.children %}
                                <a href="{{ path('oroacademy_view_issue', {'id': task.id }) }}">
                                    {{ task }}
                                </a>
                                <br/>
                            {% endfor %}
                            {{ UI.button({
                                'path': path('oroacademy_create_subtask_issue', {'parent': entity.id}),
                                'title': 'oroacademy.issue.add_new_subtask.label'|trans,
                                'label': 'oroacademy.issue.add_new_subtask.label'|trans,
                                'iCss': 'icon-plus'
                            }) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
