{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('oroacademy_update_issue', { id: entity.id }),
            'entity_label': 'Issue'|trans
        }) }}
    {% endif %}

    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oroacademy_api_delete_issue', {'id': entity.id}),
            'dataRedirect': path('oroacademy_issue_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-issue',
            'dataId': entity.id,
            'entity_label': 'Issue'|trans,
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('oroacademy_issue_index'),
    'indexLabel': 'Issues'|trans,
    'entityTitle': entity
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('Code'|trans, entity.code) }}
                    {{ UI.renderProperty('Summary'|trans, entity.summary) }}
                    {{ UI.renderProperty('Type'|trans, entity.type) }}
                    {{ UI.renderProperty('Priority'|trans, entity.priority) }}
                    {{ UI.renderProperty('Resolution'|trans, entity.resolution) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set descriptionBlock %}
        <div class="description-widget-wrapper">
            {{ oro_widget_render({
                'widgetType': 'block',
                'url': path('oroacademy_issue_details_widget', {id: entity.id})
            }) }}
        </div>
    {% endset %}

    {% set linksSection %}
        <div class="links-widget-wrapper">
            {{ oro_widget_render({
                'widgetType': 'block',
                'url': path('oroacademy_issue_links_widget', {id: entity.id})
            }) }}
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [data] }
            ]
        },
        {
            'title': 'Details'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [descriptionBlock, linksSection] }
            ]
        }
    ] %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}